<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">게시판</title>
    <link rel="stylesheet" href="/res/css/common.css">
</head>

<body>
    <th:block th:replace="temp/fragments :: header"></th:block>
    <div>
        <th:block layout:fragment="content"></th:block>
    </div>
    <th:block th:replace="temp/fragments :: footer"></th:block>
</body>

</html>